*{
	box-sizing: border-box;
}

.row{
  width: 100%;
}

.box{
  width: 100%;
  overflow: none;
}


body{
	margin: 0;
	padding: 0;
  font-family: "Courier New", Courier, monospace,"Comic Sans MS", cursive, sans-serif;
}

h1{
	color: blue;
	text-align: center;
	font-size: 40px;
}

.content  {
  border: 1px solid black;
  background-color: #00ffee;
  color: black;
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top:  40px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  overflow: none;
}

.heading   {
  border: 3px solid black;
  width: auto;
  height: auto;
  margin-right: 5%;
  margin-left: auto;
  margin-top: 0px;
  color: black;
  float: right;
  position: relative;
  text-align: center;
  overflow: none;
  font-weight: bold;
  padding:1%;
}

.name1{
	background-color: pink;
}

.name2{
	background-color: red;
}

.name3{
	background-color:green;
}

@media(min-width: 992px){
	.a{
		float: left;
		width: 33.33%;
	}
}
@media(min-width: 768px)and (max-width: 991px){
	.b,.c{
		float: left;
	}
	.b{
		width: 50%;
	}
	.c{
		width: 105%;
		margin-left: -2.5%;
	}
}
@media(max-width: 767px)and (min-width: 0px){

  .a{
    width: 100%;
    float: left;
  }

}